:root {
    --color-link: #787878;
    --text-low: #9E9E9E;
    --text-lower: #C4c4c4;
    --color-blue: #2A5FCB;
    --color-green: #27AE60;
    --color-red: #FC5426;
    --line: #DFE7F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3E3E3E;
    list-style-type: none;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

a{
    font-weight: 400;
    font-size: 16px;
    color: var(--color-link);
    text-decoration: none;
    line-height: 32px;
}
.wrapper{
    width: 100vw;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 0px 40px;
}
h1{
    font-size: 38px;
}
.container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1 1 100%;
}
.sidebar{
    max-width: 261px;
    width: 100%;
    height: 100vh;

    .nav{
        top: 100px;
        position: sticky;
        width: 100%;
        height: fit-content;
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 41px;

        li,a{
            display: block;
            width: 100%;
            position: relative;
            // transition: all 2s ease;
        }

        li::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -20px;
            background: var(--line);
        }
        a:hover{
            color: var(--color-blue);
            font-weight: 600;
        }
    }
    .link_active{
        color: var(--color-blue);
        font-weight: 600;
        position: relative;

        &::after{
            content: '';
            width: 0; 
            height: 0;
            right: 30px;
            top: calc(50% - 12px);
            position: absolute;
            border-top: 12px solid transparent;
            border-left: 15px solid var(--color-blue);
            border-bottom: 12px solid transparent;
        }
    }
}
.main-block{
    padding-left: 32px;
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;

    input[type=text]{
        display: block;
        width: 100%;
        margin-bottom: 75px;
        position: relative;
        border: 0px solid var(--text-lower);
        border-bottom: 1px solid var(--text-lower);
        font-weight: 500;
        font-size: 16px;
        // overflow-x: hidden;
    }
    .search{
        line-height: 40;
        height: 50px !important ;   
        background-image: url('../img/find.svg');
        background-position: 3px 12px;
        background-repeat: no-repeat;
        transition: 0.4s ease;
    }
    .search:focus{
        background-position: -100px 12px;
    }
    ::-webkit-input-placeholder {
        position: relative;
        left: 40px;
        color:var(--text-low);
        transition: 0.4s ease;
    }
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    :focus::-webkit-input-placeholder{
        color: transparent; 
    }

    .table_grid{
        width: 100%;
        display: grid;
        grid-template-columns: minmax(auto,1fr) minmax(auto,2.5fr) repeat(3 , minmax(auto , 1fr)) minmax(auto,2.5fr);
        grid-template-rows: 90px;
        align-items: center;
        justify-items: center;
        font-weight: 500;
        // gap: 10px;
        font-size: 14px;
    }
    .table_grid.table__title{
        grid-template-rows: 20px;
        margin-bottom: 22px;
    }
    .table__title p{
        color: var(--text-low);
        font-size: 12px;
        text-align: center;
    }
    .table__row{
        border-radius: 10px;
        box-shadow: 0px 0px 30px rgba(238, 238, 238, 0.5);
        z-index: 6;
        margin-bottom: 15px;
        position: relative;
    }
    .triger_red{
        top: -2px;
        left: -2px;
        position: absolute;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: var(--color-red);
        cursor: pointer;
        z-index: 20;
    }
    .triger_red:hover~.message_red{
        opacity: 1;
        transform: scale(1);
        transition: 0.6s ease;
    }
    .message_red{
        width: 140px; 
        height: 40px; 
        top: -28px;
        left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        position: absolute;
        border-radius: 6px;
        color: var(--text-low);
        box-shadow: 0px 4px 20px #E5E5E5;
        z-index: 19;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom left;
        transition: 0.2s ease;
    }
    .message_red:before {
        content: "";
        width: 0; 
        height: 0;
        position: absolute; 
        right: 100%; 
        top: calc(50% - 6px);
        border-top: 15px solid transparent;
        border-right: 15px solid #ffffff;
        box-shadow: 0px 4px 20px #E5E5E5;
    }
    }
    .code{
        font-weight: 600;
        font-size: 16px;
    }
    .separation{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .separation:not(:last-child)::after{
        content: '';
        position: absolute;
        top: 0;right: 0;
        height: 100%;
        width: 1px;
        background: #EEEEEE;
    }

    .target-red{
        color: var(--color-red);
    }

    .status{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        p{
        color: var(--text-lower);
        }
    }
    p.status_active{
        color: var(--color-green);
    }
.activation{
    width: 100%;
    height: fit-content;
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 30px rgb(238 238 238 / 50%);

    p, a{
        display: block;
    }

    .button{
        max-width: 194px;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-blue);
        color: #fff;
        border: 1px solid var(--color-blue);
        border-radius: 25px;
        transition: 0.6s ease;

        &:hover{
            background: #fff;
            color: var(--color-blue);
        }
    }  
}
.activation__bg{
    width: 100%;
    height: fit-content;
    padding: 0px 25px;
    position: relative;
    background: url('../img/activ__bg.png');
    z-index: 5;

    h3{
        font-size: 20px;
        font-weight: 600;
        margin-top: 45px;
        margin-bottom: 20px;
    }

    &>.button{
        margin-top: 30px;
        margin-bottom: 50px;
    }  
}
.activation__blocks{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.activation__block{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 25px 45px;
    margin-top: 30px;

    &:not(:last-child){
        border-bottom: 1px solid #EEEEEE;
    }
}
.activation__info-block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.activation__info-string{
    width: fit-content;
    height: fit-content;
    line-height: 24px;
    display: flex;

    p:first-child{
        color: var(--text-low)
    }
}
.target_info{
    background: url('../img/info.svg');
    height: 20px;
    width: 20px;
    margin-left: 20px;
    position: relative;
    color: var(--text-low) !important;

    .message_red{
        width: max-content; 
        height: auto; 
        top: -28px;
        left: 20px;
        display: block;
        padding: 19px 25px 30px;
        background: #fff;
        position: absolute;
        border-radius: 6px;
        box-shadow: 0px 4px 20px #E5E5E5;
        z-index: 19;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom left;
        transition: 0.2s ease;
        font-size: 12px;
    }
    .message_red:before {
        content: "";
        width: 0; 
        height: 0;
        position: absolute; 
        right: 100%; 
        top: 25px;
        border-top: 15px solid transparent;
        border-right: 15px solid #fff;
        box-shadow: 0px 4px 20px #E5E5E5;
    }
}

.target_info:hover .message_red{
    opacity: 1;
    transform: scale(1);
    transition: 0.6s ease;
}
.button.button-deactivate{
    background: #fff;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 25px;

    &:hover{
        background: var(--color-blue);
        color: #fff;
    }
}

#myModal{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000060;
    z-index: 99;
    // transition: 0.6s ease;
}
.modal-active{
    visibility: visible !important;
}
.modal__close-button{
    position: absolute;
    right: -70px;
    top: 0px;
    width: 50px;
    height: 50px;
    background: url('../img/close.svg') no-repeat;
    transition: 0.6s ease;

    &:hover{
        transform: rotate(90deg);
    }
}
.modal{
    position: relative;
    width: 600px;
    height: 434px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #fff;

    h2{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    span{
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 30px;
        color: var(--text-low);
    }
}
.input__area{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type=number]{
        width: 30px;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--text-lower);
        border-radius: 7px;
        font-weight: 600;
        color: var(--color-blue);
    }
    input[type=text]{
        width: 30px;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--text-lower);
        border-radius: 7px;
        font-weight: 600;
        color: var(--color-blue);
    }
    ::-webkit-input-placeholder {
        position: relative;
        color:var(--text-lower);
    }
    :focus::-webkit-input-placeholder {
        color: transparent; 
    }
    :active, :hover, :focus {
        outline-color: var(--color-blue);
    }
}
textarea{
    width: 100%;
    height: 118px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid var(--text-lower);
    border-radius: 7px;
    font-weight: 600;
    position: relative;
}
::-webkit-textarea-placeholder {
    color:var(--text-lower);
    vertical-align: top;
}
:focus::-webkit-textarea-placeholder {
    color: transparent; 
}
:active, :hover, :focus {
    outline-color: var(--color-blue);
}
.button{
    max-width: 194px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid var(--text-lower);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-low);
    cursor: pointer;   

    &:hover{
        background: var(--color-blue);
        color: #fff;
        border: 2px solid var(--color-blue);
    }
}
.watch-more{
    color: var(--text-low);
    position: absolute;
    right: 25px;
    bottom: 0;
    transition: 0.5s ease;

    &:hover{
        color: var(--color-blue);
        right: 35px;
    }
}